h1 { 
    color: orange;
    text-align: center;
}

body {
    background-color: black;
}

ul {
    color: orange;
}

h2 { 
    color: orange;
    text-align: center;
    
}

p{
    color: orange;
    text-align: center;
} 
 ol {
    text-align: center;
    color: orange;
 }

 img {
    text-align: center;
 }

 button {
    background-color: orange;

 }

